[Unit]
Description=easy WireGuard client or shell
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/wg.sh up
ExecStop=/usr/local/sbin/wg.sh down
#Restart=on-failure
#RestartSec=30s

[Install]
WantedBy=multi-user.target
