[Unit]
Description=easy WireGuard Server
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/easywg.pyz
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
